#container
{
	margin: 0 auto;
	width: 900px;
	background: #fff;
	font-family: "Lucida Grande", "Bitstream Vera Sans", Verdana;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	min-height: calc(90vh);

}
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /*Safari*/
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/* Change color on hover */
.topnav a.active {
    background-color: #ddd;
    color: black;
}
.topnav a.contact {
    float: right;
}

.topnav .icon {
  display: none;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}
.instagram {
    font-size: 0.9em;
}

/* images */
.img1 {
    width: 100%;
    height: 100%;
}
.img1 img {
    height: 393px;
}
.img2 {
    background-color: #aaa;
    width: 100%;
}
.profile-photo {
    background-image: url("images/AB Productions.jpg");
    background-size: auto;
    background-size: contain;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
/* Gallery styles */
.w3-half img {
    margin-bottom:-6px;
    margin-top:16px;
    opacity:0.8;
    cursor:pointer;
}
.w3-half img:hover {
    opacity:1
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    min-height: calc(100vh - 40vh);
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    #container {
        width: 100%;
    }
    .topnav a.contact {
        float: left;
    }
    .topnav a:not(.active) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}